[Unit]
Description=rTorrent is a text-based ncurses BitTorrent client written in C++, based on the libTorrent libraries for Unix, whose author's goal is "a focus on high performance and good code".
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill unifi
ExecStartPre=-/usr/bin/docker rm unifi
ExecStart=/usr/bin/docker run -p 8080:8080/tcp -p 8081:8081/tcp -p 8443:8443/tcp -p 8880:8880/tcp -p 8843:8843/tcp -p 3478:3478/udp -v /opt/unifi:/var/lib/unifi --name unifi nicholasvmoore/docker-unifi
ExecStop=/usr/bin/docker stop unifi

[Install]
WantedBy=mutli-user.target
